.center {
  text-align: center;
}

.box {
  background-color: #C5EFF7;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-left: 20px;
  display: flex;
  position: relative;
}

.search-ico {
  width: 400px;
  height: 200px;


  position: absolute;
  top: 50%;
  left: 25%;

  margin: -70px 0 0 -170px;
  transition: 0.7s;
}
.sub-ico {
  width: 400px;
  height: 200px;

  position: absolute;
  top: 50%;
  left: 75%;

  margin: -70px 0 0 -170px;
  transition: 0.7s;
}
.search-ico:hover {
  width: 450px;
  height: 250px;
  transition: 0.3s;
}
.sub-ico:hover {
  width: 450px;
  height: 250px;
  transition: 0.3s;
}

.search-bar {
  padding-top: 0.1em;
  border-radius: 10px;
  border: 4px solid #d35400;
  background-color: white;
  width: 0;
  display: none;
  height: 5%;
  margin: 25% auto;
  top: 70%;
  font-size: 23.5;
  font-weight: bold;
}

.search-bar:focus {
  background-color: #EEE;
  opacity: 5;
}

.search-bar:hover {
  opacity: 2;
}

.map {
  height: 800px;
}

li {
  padding-left: 1px;
  list-style-type: none;
}

.bottom-image:hover {
  background-color: white;
  transition: 0.3s;
}
.ul {
  padding: 0;
  margin: 0 0;
}
.rowofimages {
  width: 25%;
  padding: 0;
  display: inline;
  list-style-type: none;
  height: 25%;
}
