.center {
  text-align: center;
}

* {
  margin: 0 0 0 0;
}

@media screen and (min-width: 450px) and (max-width:600px){
  .search-ico{
    width: 350px;
  }
}

@media screen and (min-width: 150px) and (max-width:450px){
  .search-ico{
    width: 250px;
  }
}

.search-ico:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.search-ico {transition: 0.7s;}

.sub-ico {transition: 0.7s;}

.sub-ico:hover {
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}

.desc-of-proj {
  color: #5F545A;
  text-align: center;
  margin: 0% 25% 0% 25%;
  opacity: 0.8;
  font-weight: bold;
  font-size: 20;
  padding-top: none;
}
