body {
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
}
.container {
  font-family: sans-serif;
}

.map {
  color: white;
  font-weight: bold;
}

img {
  display: inline;
}

.button {
  border-radius: 4px;
  text-decoration: none;
  color: white;
  border: solid #d2d7d3;
  background-color: #abb7b7;
}
