body, html { width:100%; height:100% min-width:100%; min-height: 100%; position:relative }
* { margin:0; padding: 0 }
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.box {
  background-color: #C5EFF7;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-left: 20px;
  display: flex;
  position: relative;
}

.search-ico {
  width: 400px;
  height: 200px;


  position: absolute;
  top: 50%;
  left: 25%;

  margin: -70px 0 0 -170px;
  transition: 0.7s;
}
.sub-ico {
  width: 400px;
  height: 200px;

  position: absolute;
  top: 50%;
  left: 75%;

  margin: -70px 0 0 -170px;
  transition: 0.7s;
}
.search-ico:hover {
  width: 450px;
  height: 250px;
  transition: 0.3s;
}
.sub-ico:hover {
  width: 450px;
  height: 250px;
  transition: 0.3s;
}

.search-bar {
  border-radius: 10px;
  border: 4px solid #d35400;
  background-color: white;
  display: none;
  width: 50%;
  height: 5%;
  top: 70%;
  font-size: 23.5;
  font-weight: bold;
}

.search-bar:focus {
  background-color: #EEE;
  opacity: 5;
}

.search-bar:hover {
  opacity: 2;
}
