body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  text-align: center;
  font-family: sans-serif;
}

.map {
  color: white;
  font-weight: bold;
}

.button {
  border-radius: 8px;
  color: white;
  border: solid #d2d7d3;
  background-color: #abb7b7;
}
