.icons-menu {
  margin: 0 auto;
}

.container {
  text-align: center;
  float: center;
}

.step-title {
  font-weight: bold;
  display: inline-block;
}

.intro {
	counter-reset: my-badass-counter;
}
.intro dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
}

.sign-up form {
  display: none;

}

.sign-up a{
  font-size: 24pt;
  color: black;
  text-decoration: none;
}

.sign-up a:hover {
  color: #E85657;
  cursor: pointer;
}

.sign-up #sign:target {
  display: inline-block;
  transision: 0.2s;
}

.sign-submit {
  border:2px solid #E85657;
  background-color:#E85657;
  color:#fafafa;
  width: 25%
}

.sign-submit:hover  {
  background-color:#fafafa;
  color:#E85657;
  cursor: pointer;
}
.sign-up .sign-forms{
  height: 2.3em;
  width: 25%;
  font-size: 34;
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}

.sign-up .sign-forms{
  height: 2.3em;
  width: 25%;
  font-size: 34;
  padding:8px 15px;
  background:rgba(50, 50, 50, 0.2);
  border:0px solid #dbdbdb;
}
